<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            PizzaBusiness - {% block title %}Login{% endblock %}
        </title>

        {% stylesheets 
            '@pizzaSiteBundle/Resources/public/css/*'
            '@pizzaSiteBundle/Resources/public/css/shop-item.css'
            '@pizzaSiteBundle/Resources/public/font-awesome/css/*'
            filter='cssrewrite' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
    </head>
    
    <body>
        <!-- Page Content -->
        <div class="container">
        	<div class="col-md-4">
				<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail/username" name="email" type="email" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <!--<div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>-->
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="javascript:;" class="btn btn-sm btn-success">Login</a>
                            </fieldset>
                        </form>
                        {{ form_end(form) }}
{# 
                        {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {{ form_row(user.username) }}
                            {{ form_row(user.email) }}
                            {{ form_row(user.password) }}

                            {{ form_row(form.submit, { 'label': 'Login' }) }}
                        {{ form_end(form) }} #}
                        
                    </div>
			    </div>
			</div>
		</div>

        <!-- /.container -->
        
        {% javascripts 
            '@pizzaSiteBundle/Resources/public/js/jquery.js' 
            '@pizzaSiteBundle/Resources/public/js/Bootstrap.min.js' 
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block JVScode %}
            
        {% endblock %}
        

    </body>

</html>



