{% extends "pizzaSiteBundle::base.html.twig" %}

{% block title %}Customer{% endblock %}

{% block content %}
    <h1>Bestelbon</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ entity.aantal }}</td>
            </tr>
            <tr>
                <th>Itempizza</th>
                <td>{{ entity.itempizza }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bestelbon') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bestelbon_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
