<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}PizzaBusiness - Start Bootstrap Template{% endblock %}
        </title>

        {% stylesheets 
            '@PizzaBundle/Resources/public/css/bootstrap.min.css' 
            '@PizzaBundle/Resources/public/css/modern-business.css' 
            '@PizzaBundle/Resources/public/font-awesome/css/font-awesome.min.css' 
            filter='cssrewrite' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path ('index') }}">Pizzalicious</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path ('about') }}">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pizza<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path ('contact') }}">Contact</a>
                    </li>
                    <li>
                        <a href="{{ path ('pricing') }}">Winkelkarretje</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>
        
        {% block carrousel %}

        {% endblock %}

        <!-- Page Content -->
        <div class="container">
            {% block content %}

            {% endblock %}

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        
        {% javascripts 
            '@PizzaBundle/Resources/public/js/jquery.js' 
            '@PizzaBundle/Resources/public/js/Bootstrap.min.js' 
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block JVScode %}
            
        {% endblock %}
        

    </body>

</html>